<div style="position: relative;">

  <!--<form>
    <div class="input-group" style="width: 100%;">
      <input type="text"
        class="form-control searchInput"
        ng-model="searchString"
        ng-focus="focusSearch()"
        ng-disabled="confirmed || disabled"
        placeholder="{{placeholder}}">
      <div class="input-group-btn">
        <button ng-disabled="disabled" class="btn btn-default"
          ng-click="cancelInput()">{{ confirmed ? 'delete' : 'search' }}</button>
      </div>
    </div>
  </form>-->

  <input type="text"
    class="form-control searchInput"
    ng-model="searchString"
    ng-focus="focusSearch()"
    ng-disabled="disabled"
    placeholder="{{placeholder}}"
    style="width: 100%;">

  <div ng-show="showResults" style="position: absolute; width: 100%; z-index: 99;"> 
      <p class="searchResults"
        ng-click="setAndBlur(el)"
        ng-repeat="el in data | filter: searchString | limitTo: 4">
        {{ el }}
      </p>
  </div>

</div>

<style>
  span.input-group-addon {
    cursor: pointer;
  }
  p.searchResults {
    line-height: 2em;
    border: 1px black solid;
    border-top: 0px;
    background: white;
  } p.searchResults:hover {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: rgb(31, 146, 253);
  }
</style>