<div class="row sfondoSfocato sfondoSfocato2 marginetop">
  <div class="col-sm-6 col-sm-offset-3" class="view">
    <h1 class="titleOther">UniHelp</h1>
  </div>
</div>
<div class="container marginetop">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2" class="view">
      <h1 class="subTitle">Aggiungi un esame</h1>
    </div>
    
  </div>
</div>
<div class="container">
   <br>
  <!-- <form action=" <?php echo htmlspecialchars($_SERVER["PHP_SELF"]); ?> " method="post"> -->
    <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <label for="mail"><b>Nome dell'esame:</b></label>
                      <input type="text" name="esame" autofocus style="width:50%;" maxlength="100" placeholder="Scrivi il nome dell'esame.." ><span class="error"></span>
                  </div>	
              </div>					
    <br>
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <label for="mail"><b>Crediti:</b></label>
                      <input type="text" name="cfu" autofocus style="width:50%;" maxlength="100" placeholder="Inserisci i crediti.." ><span class="error"></span>
                  </div>	
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <label for="mail"><b>Professore:</b></label>
                      <input type="text" name="prof" autofocus style="width:50%;" maxlength="100" placeholder="Inserisci il professore.." ><span class="error"></span>
                  </div>	
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <label for="mail"><b>Codice esame:</b></label>
                      <input type="text" name="code" autofocus style="width:50%;" maxlength="100" placeholder="Inserisci il codice.." ><span class="error"></span>
                  </div>	
              </div>
              <br>
              
    <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <input type="submit" value="Inserisci" />
                  </div>
    </div>				
  </form>
</div>
<br>