<div class="row sfondoSfocato sfondoSfocato2 marginetop" style="margin: 0" >
  <div class="col-sm-6 col-sm-offset-3" class="view">
      <h1 class="titleOther">Assistenza</h1>
  </div>
</div>

<div class="container marginetop">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-2" class="view">
          <h1 class="subTitle">Contatti</h1>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <h4>Se hai avuto qualche problema nella navigazione del sito e vuoi conttattarci a riguardo, scrivici 
          usando il form sottostante e lasciaci la tua email per poterti rispondere.</h4>
      </div>
  </div>
</div>

<br>

<div class="container">
  
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <textarea autofocus class="form-control" style="width:100%;" rows="6" maxlength="1400" placeholder="Spiegaci il problema che hai riscontrato.."></textarea>
      </div>
  </div>
  
  <br>
  
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <textarea autofocus class="form-control" style="width:100%;" rows="1" maxlength="100" placeholder="Scrivi la tua email.."></textarea>
      </div>
  </div>
  
  <br>
  
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <button class="btn btn-success margineauto" href="#" role="button" disabled>Invia</button>
      </div>
  </div>

</div>