<div class="row sfondoSfocato sfondoSfocato2" style="margin: 0;" >
  <div class="col-sm-6 col-sm-offset-3" class="view">
      <h1 class="titleOther">Assistenza</h1>
  </div>
</div>

<br><br><br>

    <h1 class="subTitle">Contatti</h1>

    <br>

    <h4 style="text-align: left; padding: 0 12vw 0 12vw;  ">
        Hai riscontrato qualche problema con la piattaforma?
        <br>
        Scrivici tramite questo modulo! Saremo lieti di aiutarti
        Ti chiediamo di lasciarci un'email per poterti ricontattare
    </h4>

</div>

<br>

<div class="container" style="padding: 0 10vw 0 10vw;  text-align: left;">  
  
  <textarea autofocus class="form-control" style="width:100%;" rows="6" maxlength="1400" placeholder="Raccontaci.."></textarea>

  <br><br>

  <input name="accetto" type="checkbox">
  <laber for="accetto">Accetto il trattamento dei dati per i soli fini della risoluzione dei problemi legati all'esperienza utente. Seguirà immediata eliminazione dei dati sensibili.</laber>
    
  <br><br>  
  
  <textarea class="form-control" style="width:100%;" rows="1" maxlength="100" placeholder="Email.."></textarea>
    
  <br><br>

  <div style="text-align: center;">
  
  <button class="btn btn-success margineauto" href="#" role="button" disabled>Invia</button>

  </div>

  <br><br><br>

</div>