<div class="bg-view">
  <h1 class="title">Contatti</h1>
</div>

<div class="container">

  <h3>Hai riscontrato qualche problema con la piattaforma?</h3>
  <p>Scrivici tramite questo modulo! Saremo lieti di aiutarti</p>

  <br>
  
  <textarea autofocus class="form-control" style="width:100%;" rows="6" maxlength="1400" placeholder="Scrivi qui il problema riscontrato!"></textarea>

  <br>

  <div class="alert alert-info" ng-if="!logged">
    <b>Attenzione!</b> Visto che non hai effettuato l'accesso al sito
    Ti chiediamo di lasciarci la tua e-mail col solo fine di poterti ricontattare
  </div> 
  
  <textarea  ng-if="!logged" class="form-control" style="width:100%;" rows="1" maxlength="100" placeholder="Indirizzo Email..."></textarea>
    
  <br>

  <input name="accetto" type="checkbox" ng-if="!logged">
  <laber for="accetto">Accetto il trattamento dei dati per i soli fini della risoluzione dei problemi legati alla richiesta dell' utente.
  
  <br><br>
  
  <button class="btn btn-info btn-block" role="button">Invia</button>

  <br>

</div>