<div class="bg-view">
  <h1 class="title">Cambio Password</h1>
</div>

<div>
  <form action="" enctype="text/plain" method="post">
  <input type="hidden" name="cambio" value="true" />
    <div>
      <label for="pass"><b>Vecchia password</b></label>
      <input type="text" name="pass1" autofocus style="width:50%;" maxlength="100"   required>
    </div>	
    <div>
      <label for="pass"><b>Nuova password</b></label>
      <input type="text" name="pass2" autofocus style="width:50%;" maxlength="100"   required>
    </div>
    <br>
    <div>
      <input type="submit">Salva</input>
    </div>				
            
  </form>
</div>