<div class="bg-view">
  <h1 class="title">Il Team</h1>
</div>

<div class="container" style="text-align: justify;">

  <div class="row">
    <div class="col-sm-4">
        <img src="img/blank-profile.png" class="img-chisiamo">          
    </div>
    <div class="col-sm-8">
        <h2>Luca</h2> 
        <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis scelerisque leo, vel viverra augue auctor et. Duis consectetur urna id est rhoncus, at fringilla nisi egestas. Proin quis hendrerit justo. In pharetra urna nec est pulvinar volutpat sollicitudin eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" style="float: right;">
      <img src="img/blank-profile.png" class="img-chisiamo">    
    </div>
    <div class="col-sm-8" style="float: right;">
        <h2>Semino</h2> <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis scelerisque leo, vel viverra augue auctor et. Duis consectetur urna id est rhoncus, at fringilla nisi egestas. Proin quis hendrerit justo. In pharetra urna nec est pulvinar volutpat sollicitudin eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div> 
  </div>

</div>