<div class="row sfondoSfocato sfondoSfocato2 marginetop" style="margin: 0" >
  <div class="col-sm-6 col-sm-offset-3" class="view">
      <h1 class="titleOther">Chi siamo</h1>
  </div>
</div>

<div class="container marginetop">

  <div class="row">
      <div class="col-sm-4" class="view">
          <img src="img/blank-profile.png" width="200" alt="">
          
      </div>
      <div class="col-sm-8 " class="view" >
          <h2>Luca</h2> <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis scelerisque leo, vel viverra augue auctor et. Duis consectetur urna id est rhoncus, at fringilla nisi egestas. Proin quis hendrerit justo. In pharetra urna nec est pulvinar volutpat sollicitudin eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        
    </div>

  </div>
<br><br>
  <div class="row" style="margin-top: 2em;">
    <div class="col-sm-8 " class="view" >
        <h2>Semino</h2> <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis scelerisque leo, vel viverra augue auctor et. Duis consectetur urna id est rhoncus, at fringilla nisi egestas. Proin quis hendrerit justo. In pharetra urna nec est pulvinar volutpat sollicitudin eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      
  </div>
    <div class="col-sm-4" class="view">
        <img src="img/blank-profile.png" width="200" alt="">
        
    </div>
    

</div>

</div>