<div class="bg-view">
    <h1 class="title">Esami</h1>
</div>		

<!-- CONTENUTO PAGINA -->
<div class="container" style="padding: 3em;">
  <br>

  <div>
    <!-- CONTENUTO TAB HOME -->
    <section id="info" class="panel panel-default"> 

      <div class="panel-heading">
        <h1>Fisica 1 (92494)</h1>
      </div>

      <div class="panel-body"> 
        
        <div class="row">
          <div class="col-sm-12">
            <h3>CFU 
              <span style="font-weight:bold;">9</span>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h3>
              Professore 
              <span style="font-weight:bold;">Gilberti A.</span>
            </h3>				   
          </div> 
        </div>  

        <div class="row">
          <div class="col-sm-12">
            <h3>
              Modalit&agrave; 
              <span></span>
            </h3>
          </div>
        </div> 
          
        <div class="row">
          <div class="col-sm-12">
            <h3>
              Difficolt&agrave; 
              <meter max=1.0 min=0.0 value=0.06 high=.75 low=.4 optimum=0.1></meter>
              <b>Fattibile</b>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h3 style="text-align:center; font-weight:bold;">
              <button class="btn btn-info btn-block">Aggiungi Recensione</button>
            </h3>
          </div>
        </div>

      </div>
    </section>
    <!-- FINE TAB HOME -->

    <!-- CONTENUTO TAB RECENSIONI -->							
    <section id="recensioni" class="panel panel-default"> 
      <div class="panel-heading">
        Recensioni
      </div>
      <div class="panel-body"> 
        <div class="row">                
          <div class="col-sm-6">
            <h4>Utente </h4>
            <p>SimoneBarando</p>
          </div>
          
          <div class="col-sm-6">
            <h4>Difficoltà </h4>
          </div>
        </div>

        <h4>Atteggiamento docente </h4>
        <p style="text-align: justify;">Tranquillo</p>        
        
        <h4>Commenti </h4>
        <p style="text-align: justify;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Pellentesque nunc lorem, pulvinar ac est nec, suscipit sollicitudin purus.
          Nulla sollicitudin urna et lacus blandit, et tempor arcu pretium.
          Cras dignissim elit sed semper eleifend. Aenean imperdiet leo non pretium laoreet.
          Cras non turpis a sapien lacinia euismod vel eu ipsum.
          Phasellus molestie nunc et mauris sagittis aliquet. 
          Donec ornare risus et neque rhoncus, sit amet hendrerit orci tristique.
          Maecenas feugiat imperdiet velit, ac egestas arcu ullamcorper sed.
          Donec varius aliquam leo vitae efficitur.
          Vivamus arcu metus, laoreet vitae commodo eu, tempor hendrerit massa.
          Etiam suscipit, neque eget ullamcorper pharetra, massa velit varius orci, id dignissim dolor leo sit amet dolor.
        </p>
      </div>

    </section>
    <!-- FINE TAB RECENSIONI-->

    <!-- CONTENUTO TAB DOMANDE -->
    <section id="domande" class="panel panel-default">
      <div class="panel-heading">
        Domande
      </div>
      <div class="panel-body"> 
        <div class="row">              
          <div class="col-xs-9">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit?
            </p> 
          </div>          
          <div style="text-align:right;" class="col-xs-3">
            <p>
              Voti 2 + -
            </p> 
          </div>
        </div> 
        
        <div class="row">             
          <div class="col-xs-9">
            <p> 
              Pellentesque nunc lorem, pulvinar ac est nec, suscipit sollicitudin purus?
            </p> 
          </div>            
          <div style="text-align:right;" class="col-xs-3">
            <p>
              Voti 7 + - 
            </p>
          </div>            
        </div>           
      </div>
    </div>	
    <!-- FINE TAB DOMANDE -->              
          
  </section>

</div>

            