<!-- TITOLO DELLA PAGINA -->

<h1 class="title">uniHelp</h1>

<!-- CONTENUTO PAGINA -->
<div class="container marginetop">
  <div class="row">

    <div class="col-sm-4">
      <a href="#scroll" ><img  src="img/cerca.png" class="img-responsive shadow" style="width:30%; margin: auto;" alt="Image"></a>
    </div>
    <div class="col-sm-4"> 
      <a href="#scroll" ><img src="img/leggi.png" class="img-responsive shadow" style="width:30%; margin: auto;" alt="Image"></a>
    </div>
    <div class="col-sm-4">
      <a href="#scroll" ><img src="img/valuta.png" class="img-responsive shadow" style="width:30%; margin: auto;" alt="Image"></a>			
    </div>

  </div>
</div>

<!-- squarcio immagine di sfondo -->
<div class="marginetop">
  <div class="sfondoSfocato" class="view"></div>
</div>

<!-- inizio FORM di RICERCA -->
<div class="container" style="padding: 4vw; margin: 2em;">

  <br><br>

  <div class="row">
    <div class="col-md-4">      
      <search-input data="universita" disabled="next[0]" next="next[0]" reset="reset" placeholder="'Cerca Università'"></search-input>
    </div>
    <div class="col-md-4">      
      <search-input data="corsi" disabled="!(next[0] && !next[1])" next="next[1]" reset="reset" placeholder="'Cerca Corso'"></search-input>
    </div>
    <div class="col-md-4">      
      <search-input data="esami" disabled="!(next[1] && !next[2])" next="next[2]" reset="reset" placeholder="'Cerca Esame'"></search-input>
    </div>
  </div>

  <div style="position: relative;">

  <!--<form>
    <div class="input-group" style="width: 100%;">
      <input type="text"
        class="form-control searchInput"
        ng-model="searchString"
        ng-focus="focusSearch()"
        ng-disabled="confirmed || disabled"
        placeholder="{{placeholder}}">
      <div class="input-group-btn">
        <button ng-disabled="disabled" class="btn btn-default"
          ng-click="cancelInput()">{{ confirmed ? 'delete' : 'search' }}</button>
      </div>
    </div>
  </form>-->

  <input type="text"
    class="form-control searchInput"
    ng-model="searchString"
    ng-focus="focusSearch()"
    ng-disabled="disabled"
    placeholder="{{placeholder}}"
    style="width: 100%;">

  <div ng-show="showResults" style="position: absolute; width: 100%; z-index: 99;"> 
      <p class="searchResults"
        ng-click="setAndBlur(el)"
        ng-repeat="el in data | filter: searchString | limitTo: 4">
        {{ el }}
      </p>
  </div>

</div>

<style>
  span.input-group-addon {
    cursor: pointer;
  }
  p.searchResults {
    line-height: 2em;
    border: 1px black solid;
    border-top: 0px;
    background: white;
  } p.searchResults:hover {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: rgb(31, 146, 253);
  }
</style>



  <br><br>

  <div class="row">
    <button class="btn btn-default btn-block" ng-click="resetSearch()">Reset</button>
  </div>
  <br>

  <div class="row">
  <button class="btn btn-success btn-block" disabled>Cerca</button>
  </div>
  
            
  <!-- html form+suggerimenti step-by-step homemade 
  <form class="form-group" method="get" action="esame.php" >
    <input id="suggerimenti_uni_input_hidden" type="hidden" name="id_uni" >
    <input id="suggerimenti_corso_input_hidden" type="hidden" name="id_corso" >
    <input id="suggerimenti_esame_input_hidden" type="hidden" name="id_esame" >
    
    
    <h3 style="text-align: left; margin: 0 auto 0 10%">Cerca:</h3>
    <br>

    <div class="tab" >
      <div class="suggerimenti_input" class="input-group larghezza" >
        <input id="suggerimenti_uni_input" class="form-control " placeholder="Cerca Universit&agrave;" required>
      </div>
      <div class="suggerimenti_result" >
        <ul class="suggerimenti_result" id="suggerimenti_uni" >

        </ul>
      </div>
    </div>

    <div class="tab">
      <div class="suggerimenti_input" class="input-group larghezza" >
        <input id="suggerimenti_corso_input" class="form-control" placeholder="Cerca corso di laurea.."required>
      </div>
      <div class="suggerimenti_result">
        <ul class="suggerimenti_result" id="suggerimenti_corso">

        </ul>
      </div>
    </div>

    <div class="tab">
      <div class="suggerimenti_input" class="input-group larghezza" >
        <input id="suggerimenti_esame_input" class="form-control " placeholder="Cerca esame.." required>
      </div>
      <div class="suggerimenti_result">
        <ul class="suggerimenti_result" id="suggerimenti_esame">

        </ul>
      </div>
    </div>
      
    <-- Circles which indicates the steps of the form: 
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>

    <br>

    <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn  btn-success margineauto" href="#slideRicerca" role="button"  >Indietro</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-success margineauto" href="#slideRicerca" role="button" >Avanti</button>


  </form>

  <-- js form step-by-step + js suggerimenti
  <script src="../js/scripts/indexJS.js"></script> -->

</div>
<!-- fine FORM di RICERCA -->

<!-- squarcio immagine di sfondo -->
<div class="marginetop">
  <div class="sfondoSfocato view"></div>
</div>