<div class="bg-view">
    <h1 class="title">Profilo</h1>
  </div>   


<div class="container" style="padding: 0 10vw 0 10vw;" ng-show="true || userId">
    <!-- image -->
    <div style="position: relative;">
        <img src="../img/blank-profile.png" class="immagine-profilo centra">
        <button type="button" class="btn btn-info centra punteggio-profilo">Punti <span class="badge">{{ punti }} {{ punti >= 0 ? '+' : '-' }}</span></button>
    </div>

    <br><br>

    <br><br>

    <!-- data -->
    <div>

        <fieldset>
        <p>Nome utente </p>
        <h4>{{ user }}</h4>
        <br>
        <p>Email </p>
        <h4>{{ mail }}</h4>
        <br>
        <p>Password </p>
        <input class="form-control" type="password" ng-model="pass">
        </fieldset>
        
        <br>

        <fieldset>
        <p>Nome </p>
        <h4>{{ nome }}</h4>
        <br>
        <p>Cognome </p>
        <h4>{{ cognome }}</h4>       
        </fieldset>

        <br>

        <fieldset>
        <p>Università </p>
        <h4>{{ uni }}</h4>
        <br>
        <p>Facoltà </p>
        <h4>{{ fac }}</h4>
        <br>
        <p>Corso di Laurea </p>
        <h4>{{ corso }}</h4>
        <br>
        <p>Matricola </p>
        <h4>{{ matricola }}</h4>
        </fieldset> 

        
    </div>

    <br><br>

    <br><br>
</div>
