<div class="bg-view">
    <h1 class="title">Profilo</h1>
  </div>   


<div class="container" style="padding: 0 10vw 0 10vw;">
    <!-- image -->
    <div style="position: relative;">
        <img src="../img/blank-profile.png" class="immagine-profilo centra">
        <button type="button" class="btn btn-info centra punteggio-profilo">Punti <span class="badge">99+</span></button>
    </div>

    <br><br>

    <br><br>

    <!-- data -->
    <div>

        <fieldset>
        <h4 class="titolo">Nickname</h4>
        <p class="testo">Littleflower</p>
        <br>
        <h4 class="titolo">Email: </h4>
        <p class="testo" id="email">carolo@email</p>
        <br>
        <h4 class="titolo">Nome: </h4>
        <p class="testo">Carlo</p>
        <br>
        <h4 class="titolo">Cognome: </h4>
        <p class="testo">Fiorino</p>        
        <br>        
        </fieldset>

        <br>

        <fieldset>
        <h4 class="titolo">Università: </h4>
        <p class="testo">Università di Pisa</p>
        <br>
        <h4 class="titolo">Matricola: </h4>
        <p class="testo">123456</p>
        <br>
        </fieldset> 

        
    </div>

    <br><br>

    <br><br>
</div>
