<div class="bg-view">
  <h1 class="title">Profilo</h1>
</div>   


<div class="container" style="padding: 0 10vw 0 10vw;">
  <!-- image -->
  <div style="position: relative;"  ng-show="user">
      <img src="../img/blank-profile.png" class="immagine-profilo centra">
      <button type="button" class="btn btn-info centra punteggio-profilo">Punti <span class="badge">{{ punti }} {{ punti >= 0 ? '+' : '-' }}</span></button>
  </div>

  <br><br>
  <br><br>

  <div ng-show="!user">
    <br><br>
    <div class="alert alert-danger">
      <strong>Attenzione!</strong> Accesso non effettuato
    </div>
    <br><br>
  </div>

  <!-- data -->
  <div ng-show="user">

    <fieldset>
      <p>Nome utente </p>
      <h4>{{ user }}</h4> 
      <br>
      <campo-modificabile field-name="mail" field-value="{{mail}}" field-type="email"></campo-modificabile>
      <br>
      <campo-modificabile field-name="password" field-value="{{pass}}" field-type="password"></campo-modificabile>
    </fieldset>
    
    <br>

    <fieldset>
      <campo-modificabile field-name="nome" field-value="{{nome}}"></campo-modificabile>
      <br>
      <campo-modificabile field-name="cognome" field-value="{{cognome}}"></campo-modificabile>      
    </fieldset>

    <br>

    <fieldset>
      <p>Università </p>
      <h4 ng-show="!uniEditMode">{{ uni }}  
        <button class="btn btn-link" ng-click="uniEditMode = true">Modifica</button>
      </h4>
      <cerca-suggerimento ng-show="uniEditMode" info="universita" selected-id="selectedId" hide-on-confirm="true" symbol="ok" click-handler="clickHandler('universita', selectedId)"></cerca-suggerimento>
      <br>
      <campo-modificabile field-name="matricola" field-value="{{matricola}}"></campo-modificabile>
    </fieldset> 

    <br>

    <fieldset>
      <br>
      <div class="alert alert-danger">
        <b>Attenzione!</b> 
        Cliccando sul pulsante qui in basso eliminerai definitivamente il tuo account
        <br><br>
        <button class="btn btn-block btn-danger">Elimina Account</button>
      </div> 
    </fieldset>
      
  </div>
  <br>
  <br><br>
</div>
