<div class="bg-view">
  <h1 class="title">Reg&iacute;strati</h1>
</div>

<div class="container">
  <br>
  <form action="" method="post">
    <div class="row">
      <div class="col-sm-6 ">
        <input type="text" name="mail" autofocus style="width:80%;" maxlength="100" value="" placeholder="Scrivi la tua email.." ><span class="error"></span>
        <br>
        <label for="mail"><b>Email* </b></label>
      </div>	
      <div class="col-sm-6 ">
        <input type="text" name="user" autofocus style="width:80%;" maxlength="100" value="" placeholder="Nickname.." >
        <br>
        <span class="error"></span>
        <label for="user" autocomplete="off"><b>Crea un nickname* </b></label>
      </div>
    </div>				
    <br>
    <div class="row">
      <div class="col-sm-6">
        <input type="password" name="pass" autofocus style="width:80%;" maxlength="100" value="" placeholder="Password.." >
        <span class="error"></span> <br>
        <label for="pass" autocomplete="off"><b>Crea una password*</b></label>
      </div>
      <div class="col-sm-6">
        <input type="password" name="repass" autofocus style="width:80%;" maxlength="100" value=""placeholder="Password.." >
        <span class="error"></span><br>
        <label for="repass" autocomplete="off"><b>Ripeti la password* </b></label>
    </div>
    </div>				
    <br>
    
    		
    <br>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <input type="submit" value="Registrati" />
      </div>
    </div>				
    <br>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h4>Se hai già un account, <a href="#!login.php">clicca qui.</a></h4>
      </div>
    </div>				
  </form>
</div>
<br>