/* ---------------------- STILE BARRA DEI VOTI ---------------------- */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: linear-gradient(to right, rgb(91, 192, 222), rgb(92, 184, 92), rgb(240, 173, 78), rgb(217, 83, 79));  /* Grey background */
	outline: none; /* Remove outline */
	border-radius: 16px; 
	border: 1px #CCCCCC solid;
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	cursor: pointer;

	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s, border .2s, box-shadow .2s;
  
}

/* Mouse-over effects */
input.slider:focus{
	opacity: 1; /* Fully shown on mouse-over */
	border: 1px #66AFE9 solid;
	box-shadow: 0 0 6px 0 #66AFE9 ;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	opacity: 1;
	width: 32px; /* Set a specific slider handle width */
	height: 32px; /* Slider handle height */
	background: white; /* Green background */
	border: 1px #CCCCCC solid;
	box-shadow: 0 0 3px 0 #CCCCCC;
	border-radius: 50%;
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	opacity: 1;
	width: 32px; /* Set a specific slider handle width */
	height: 32px; /* Slider handle height */
	background: white; /* Green background */
	border: 1px #CCCCCC solid;
	box-shadow: 0 0 3px 0 #CCCCCC;
	border-radius: 50%;
	cursor: pointer; /* Cursor on hover */
}

/* ---------------------- FINE STILE BARRA DEI VOTI ---------------------- */