/******************************************************

                    standard elements

*******************************************************/

body {
  background-image: url('../img/sfondo1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  /*height: 100%;
  min-height: 100%;*/
}

fieldset {
  box-shadow: 0 0 1px gray;
  border-radius: 5px;
  padding: 2em;
}

footer {
  display: block;
  padding: 1em;
  text-align: center;
  width: 100%;
  background: #333333;
  color: gray;
}


/******************************************************

                  bootstrap classes

*******************************************************/


.container {
  background: white;
  padding: 4em;
  border-radius: 1em;
}

/* change tooltip bg color */
.red-tooltip + .tooltip > .tooltip-inner { background-color: #f2dede; color: #a94442; font-weight: bold; }
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f2dede; } 



/******************************************************

                    custom styles

*******************************************************/

div#ng-view {
  min-height: 100%;
}

div.bg-view{
  height: 20vw;
  background: transparent !important;
  display: block;
  position: relative;
} div.bg-view>*{
  margin: 0; padding: 0;
} div.bg-view>h1.title{  
  position: absolute;
  top: 50%; left: 75%;
  transform: translate(-50%, 0%);
  font-size: 6vw;
  color: white;
  font-weight: bolder;
}

.img-chisiamo{
  border-radius: 100%;
  box-shadow: 0 0 10px black;
  border: 5px white solid;
  background: white;
  width: 90%;
  height: 90%;
  margin: 5%;
}

img[class*="immagine-profilo"] {
  margin-top: -128px;
  border-radius: 100%;
  box-shadow: 0 0 10px black;
  border: 5px white solid;
  background: white;
} img.immagine-profilo{
  width: 256px;
  height: 256px;
} button.punteggio-profilo{
  position: absolute;
  top: 128px;
  transform: translate(-50%, -50%);
}

.centra {
  position:relative; left: 50%;
  transform: translateX(-50%);
}

#file-immagine {
  display:none;
}
 
 
#uploadBtn{
  height: 2.5em;
  width: 120px;
  position:absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  color: wheat;
  line-height: 30px;
  cursor: pointer;
} 


/******************************************************

                    media queries

*******************************************************/

@media screen and (min-width: 960px) {
  #uploadBtn{
    
    bottom: 1em;
    
  } 
  
}



@media screen and (max-width: 960px) {
  img[class*="immagine-profilo"] {
    display: block;
    margin-top: 4em;
  } img.immagine-profilo{
    width: 40vw;
    min-width: 128px;
    height: 40vw;
    min-height: 128px;
  } button.punteggio-profilo{
    position: relative;
    top: 0;
  } 
  footer {    
    color: #31708f; /* #31708f #d9edf7 */
    border-top: 1px #bce8f1 solid;
    background: none;    
    margin: 0 2.5em 0 2.5em;
    width: auto;
    opacity: 0.5;
  }
  
}


@media screen and (max-width: 768px) {
  body {    
    background-image: none !important;
  }
  div.bg-view>h1.title {
    position: relative;
    top: 0; left: 0;
    margin: 100px 1em 0 1em;
    transform: none;
    text-align: left;
    display: block;
    color: #31708f; /* #31708f #d9edf7 */
    font-size: 32px;
    border-bottom: 1px #bce8f1 solid;
  }   
  .container {
    border-radius: 0;
  }

  .img-chisiamo{
    width: 20%;
    min-width: 128px;
    height: 20%;
    min-height: 128px;
    margin: 0;
    position: relative;
    margin-top: 2em;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 601px) {
  
}
