

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height:100%;
  margin-bottom: -50px;
}



/**********************
/** stili index.html **
***********************/

  /* era nell'head prima */
    * {
      max-width:100%;
    }
    body {
    text-align: center;
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 48px;*/
    font-weight: bold;
    }
    h2.c1 {
    color: #CC6600;
    /*font-size: 24px;*/
    font-weight: lighter;
    }
    p.c2 {
    color: #CC6600;
    /*font-size: 13px;*/
    font-weight: lighter;
    }
  /* era nell'head prima */

  /* era nel body */
    header { height: 100%; }

    /* style suggerimenti */
      div.tab { display: none; position: relative; padding: 0; margin:auto; max-width: 80% }
          
      div.suggerimenti_result { display:none; position: absolute; right: 20%; left: 20%; z-index: 99; max-height: 250px; overflow: auto; box-shadow: 0px 2px 5px 2px #cccccc; background: white; }
      ul.suggerimenti_result { list-style: none; padding: 0; margin:0 }
                          
      ul.suggerimenti_result>li { padding:1em; }
      ul.suggerimenti_result>hr{ padding:0; margin:0 }

      ul.suggerimenti_result:hover { cursor: pointer }
      ul.suggerimenti_result>li:hover { background: #cccccc; color:white;}


      /* Make circles that indicate the steps of the form: */
      .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
      } /* Mark the active step: */
      .step.active {
        opacity: 1;
      } /* Mark the steps that are finished and valid: */
      .step.finish {
        background-color: #4CAF50;
      }

  /* era nel body */

/**********************
/*fine stili index.html
***********************/





/* ---------------------- STILE ELENCO DOMANDE ---------------------- */

/*
.domande, .domande2 {
    list-style-type: none;
	box-sizing: border-box;
}
 

ul.domande, ul.domande2 {
   
  padding: 0;
  margin: 0;
}

ul li.domande {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 9px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
  margin-top: 4px;
}

ul li.domande2 {
	margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 9px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
  margin-top: 4px;
	}

ul li.domande:hover {
  background-color: #eee;
} 

.closeDomande {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 9px 16px;
  transform: translate(0%, -50%);
}

.closeDomande:hover {background: #bbb;}
*/


/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  position: fixed;
	  top: 0;
	  width:100%;
	  overflow:hidden;
	  background-color: #001628;
	  z-index:999;
    }
    .title{
		text-shadow: 0px 6px 5px gray;
		color:#f3f3f3;
		font-size:5em; 
		margin-top:0;
		font-weight: bold;
		position:absolute;
		top:60%;
		left:50%;
	}
	.titleOther{
		text-shadow: 0px 6px 5px gray; 
		color:#f3f3f3; /*colore bello: #003333*/ 
		font-size:5em; 
		margin-top:0;
		font-weight: bold;
		height:2.2em;
		float:right;
		margin-top:1.2em;
	}
	.subTitle{
		text-shadow: 0px 6px 5px gray; 
		color:#003333;
		font-size:3em; 
		margin-top:0;
		font-weight: bold;
		height:2.2em;
		
	}
	.smalltitle{
		/*text-shadow: 2px 2px 8px #001628;*/ 
		 margin-top: 0px;
		margin-bottom: 0px;
	}
    
	@media (min-width: 768px)
	{
		.modalRecensione{ width: 96%;}
		.container {width:98%;}
	}
	
	.bold {font-weight:bold}
	
	#modalRecensione {}
	.modalRecensione{}
	.modal-body{ min-height: 420px;}
	.modal-footer{max-height:150px;}
	.modal-header{background-color: #112739; border:1px rgb(51,51,51) solid; margin-right: -1px; margin-left: -1px; color: white; border-top-left-radius: 6px; border-top-right-radius: 6px;}
	
	.shadow:hover{
	cursor: pointer;
	box-shadow: 10px 10px 30px #888888;}
	
	.well {padding: 1px;}
    p {
		margin: 0 0 0px;
	}
 .inputbox{width: 100%;
    background-color: #fff;
    border: 1px solid #1874c1;
    color: #333;
    padding: 13px;
    font-weight: 400;
    box-shadow: none !important;
    font-size: 18px;
	margin-bottom:1.6em;}
	
.boxesame{margin-bottom:6px;}	
 .boxcomment{height:4em;}
 
 /* ---------------------- STILE CAROUSEL RECENSIONE ---------------------- */
/* ---------------------- STILE CAROUSEL RECENSIONE ---------------------- */
/* ---------------------- STILE CAROUSEL RECENSIONE ---------------------- */
 
.carousel-inner img {
       width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
.carousel-inner { 
      margin-left:auto;
	  margin-right:auto;
  }
.marginetop {margin-top:3em;}
.margineauto {margin-left:auto; margin-right:auto;}
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  } 
 .larghezza {width:100%; }
 .carousel-control{width:10%}
 
@media screen and (max-device-width: 768px){
  .col-sm-4 {margin-bottom:1.6em;}
}

.modalspan {font-weight:bold; text-align:center;}
 
 
.form-control {width:60%; display:inline;}

.navbar-inverse .navbar-nav>.active>a {background-color:#000517;}

.login{margin-top:1em; margin-right:auto; margin-left:auto;}

.review {border-bottom: 1px solid #ddd; background-color:#dee7fa; padding-bottom:0.8em;padding-top:0.8em; margin:0.8em;}

.question {margin-top:0.7em; background-color:#dee7fa; padding:8px;    border-radius: 8px;}

.height {height:100%;}

.not-allowed {cursor: not-allowed;}

.titolo, .testo {display:inline}

 


/* ---------------------- STILE IMMAGINE FULL SCREEN ---------------------- */
 
 html, body, #intro {
    height: 100%;
}
 .sfondoSfocato {height:6em;}
 .sfondoSfocato2 {height:auto;}
 #intro, .sfondoSfocato {
    background: url(../img/sfondo.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* ---------------------- FINE STILE IMMAGINE FULL SCREEN ---------------------- */
/* ---------------------- STILE RICERCA UNIVERSITA E CORSO ---------------------- */
.myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
/* ---------------------- FINE STILE RICERCA UNIVERSITA E CORSO ---------------------- */